@import '~@lib/css/index.styl';

.l-chatbox
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  z-index: 10;
