@import '~@lib/css/index.styl';

.l-chatbox
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 20px 15px 34px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  background: #ECEDF1;
  z-index: 10;
  .box
    display: -webkit-flex;
    display: flex;
    width: 100%;

    >*
      -webkit-flex: 1;
      flex: 1;
      border: 0 none;
      height: 70px;
      px2px(border-radius, 8px);
      px2px(font-size, 30px);

      &.box-more
        margin-right: 8px;
        text-align: center;
        button
          width: 70px;
          height: 100%;
          border: 0 none;
          background: #fff;
          px2px(border-radius, 8px);
        .iconfont
          color: #12B7F5;
          px2px(font-size, 30px);
      &.box-msg
        position: relative;
        -webkit-flex: 5;
        flex: 5;
        color: #333;
        overflow: auto;
        overflow-x: hidden;
        resize: none;

        textarea
          position: relative;
          width: 100%;
          height: 30px;
          padding: 20px 10px;
          border: 0 none;
          px2px(border-radius, 8px);
          px2px(line-height, 30px);
          px2px(font-size, 30px);
        .reorder
          position: absolute;
          padding-right: 10px;
          color: #ddd;
          z-index: 6;
          px2px(top, 5px);
          px2px(bottom, 0px);
          px2px(right, 0px);

          >*
            px2px(font-size, 50px);
      &.box-send
        margin-left: 20px;
        background: #fff;

    .more-choice {
      position: absolute;
      width: 100%;
      height: 128px;
      background: #fff;
      z-index: 7;
      px2px(left, 0px);
      px2px(bottom, 0px);

      button {
        width: 100%;
        height: 63px;
        border: 0 none;
        background: #12b7f5;
        color: #fff;
        px2px(border-top, 1px solid #fff);
        px2px(font-size, 30px);
      }
    }

.modal-dialog
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background: rgba(0,0,0,50);
  z-index: 10;
  px2px(font-size, 50px);
  px2px(top, -420px);
  px2px(bottom, 0px);

  input[type="file"], .upload
    px2px(font-size, 32px);

  .progress
    display: inline-block;
    width: 300px;
    height: 10px;
    background: #fff;
    vertical-align: middle;
    font-size: 0px;

    em
     display: inline-block;
     height: 100%;
     background: greenyellow;

.is-pc .l-chatbox {
  position: absolute;
  top: 631px;
  bottom: initial;
  padding: 10px;
  width: 572px;
  height: 30px;
  background: #ddd;

  .box {
    margin: 0 auto;
    max-width: 1600px;

    > * {
      height: 30px;
      &.box-more {
        button {
          width: 140px;
        }
      }
      &.box-msg {
        textarea {
          padding: 8px 0 0 10px;
          height: 22px;
          line-height: 1;
          outline:none;
        }
        .reorder {
          top: 1px;
        }
      }
      &.more-choice {
        padding: 15px;
        width: 100px;
        height: 100px;
        border: 1px solid #03a9f4;

        button {
          border-top: 1px solid #fff;
          height: 49px;
        }
        .close {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 20px;
          color: #03a9f4;
          text-decoration: none;

          &:hover {
            color: greenyellow;
          }
        }
      }
    }
  }
  .modal-dialog {
    left: 140px;
    top: -430px;
    padding: 20px;
    width: 420px;
    height: 420px;
    color: #fff;
    background: #12b7f5;

    .modal-header {
      padding-bottom: 16px;
      font-size: 16px;
      text-align: center;
    }
    .modal-body {
      font-size: 14px;
      .modal-img {
        height: 100px;
      }
      input {
        border: 0 none;
        font-size: 14px;
      }
      button {
        border: 0 none;
        background: #fff;
      }
      img {
        max-height: 225px;
      }
    }
  }
}
