.data-center
  padding: 0;
  background: #fff;
  .data-title
    padding: 16px 20px;
    a
     color: #3c4a55;
    >*
      cursor: pointer;
  .data-course
    padding: 0 20px;
    ul
      li
        padding: 16px 0;
        &:nth-child(2n+3)
          background: #fff;
        &.total
          background: #FAFAFB;
          .handle
            background: #FAFAFB;
        &.head
          padding: 10px 0;
          background: #fff;
          border-top: 1px solid #e3e3e3;
          border-bottom: 0 none;
          >*
            color: #3C4A55;
        >*
          color: #757F98;
          border-right: 0 none;
          &:last-child
            width: 250px;
        .handle
          .button
            padding: 4px 15px;
            background: #EFEFF4;
            color: #757F98;
            border-radius: 6px;
            -webkit-border-radius: 20px;
            &:hover
              background: #FEB64D;
              color: #fff;
