@import '~@lib/css/index.styl';

.l-comment {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  z-index: 6;
  //background-color:rgba(0,0,0,0.6);
  -moz-box-shadow:-1px -4px 5px #D0F1FD;
  -webkit-box-shadow:-1px -4px 5px #D0F1FD;
  box-shadow:-1px -4px 5px #D0F1FD;

  .back-live {
    text-align: center;
    button {
      background: transparent;
      border: 0 none;
      color: #12B7F5;
      px2px(font-size, 32px);
    }
  }
  .comment-body {
    height: 100%;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .comment-title {
    padding: 20px;
    border-bottom: 1px solid #D6DAF2;
    px2px(font-size, 32px);
  }

  .comment-content {
    padding: 20px 20px 300px;
    padding-bottom: 300px;
    px2px(font-size, 32px);

    li {
      position: relative;
      margin-top: 20px;
      padding: 10px 0 10px 100px;
      border-bottom: 1px solid #D6DAF2;

      .user-img {
        position: absolute;
        left: 0;
        top: 0;

        img {
          width: 80px;
        }
      }
      .user-content {
        .con-title {
          px2px(font-size, 28px);
        }
        .con-time {
          padding: 6px 0;
          color: gray;
          px2px(font-size, 24px);
        }
      }
    }
    li:first-child {
      margin: 0;
      padding-left: 0;
      padding-bottom: 30px;
      text-align: center;
    }
    li:last-child {
      border: 0 none;
    }
  }

}

.is-pc {
  .l-comment {
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    width: 296px;
    height: auto;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 none;

    .comment-title {
      font-size: 16px;
    }
    .comment-content {
      padding: 10px;
      font-size: 16px;

      li {
        padding: 10px 0 10px 45px;
        &:first-child {
          padding-left: 0;
          padding-bottom: 20px;
          text-align: center;
        }
        .user-img {
          img {
            width: 35px;
          }
        }
      }
    }
  }
}
