@import '~@lib/css/index.styl';

em, i {
  font-style: normal
}

ol, ul {
  margin: 0
  padding: 0
}

li
  list-style-type: none

.live-page
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background: #ECEDF1;
  overflow: hidden;

.live-header
    position: relative;
    display: block;
    background: #fff;
    margin: 34px;
    padding: 30px;
    px2px(font-size, 28px);
    border: solid 1px #ededed;
    title
      color: #333;
    li
      list-style-type: decimal;
      margin-left: 45px;
      padding: 17px 15px 0 0;
      color: gray;
      px2px(line-height, 32px);

.live-sms-list
  padding-bottom: 150px;
  li
    position: relative;
    display: block;
    padding: 40px 34px 0 120px;
    .user-img
      position: absolute;
      width: 80px;
      height: 80px;
      overflow: hidden;
      cursor: pointer;
      px2px(top, 40px);
      px2px(left, 34px);
      img
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    .live-sms
      position: relative;
      padding-left: 14px;
      .speaker-name
        color: #aaa;
        padding-bottom: 11px;
        px2px(line-height, 28px);
        px2px(font-size, 26px);
      .sms-content
        position: relative;
        display: table;
        padding: 10px 12px;
        max-width: 80%;
        background: #fff;
        border: 1px solid #ccc;
        px2px(font-size, 32px);
        px2px(border-radius, 8px);
        &:before
          position: absolute;
          width: 16px;
          height: 16px;
          content: '';
          background-color: #fff;
          border: 1px solid #ccc;
          transform:rotate(45deg);
          -webkit-transform:rotate(45deg);
          z-index: 4;
          px2px(top, 26px);
          px2px(left, -9px);
        &:after
          position: absolute;
          width: 18px;
          height: 18px;
          background: #fff;
          content: '';
          z-index: 5;
          transform:rotate(45deg);
          -webkit-transform:rotate(45deg);
          px2px(top, 26px);
          px2px(left, -8px);
        &.w65per
          width: 65%;
        .content-text
          position: relative;
          padding: 3px 28px 3px 14px;
          color: #3C4A55;

          px2px(line-height, 46px);
          px2px(font-size, 32px);
          &.custom
            padding-right: 5px;
          .content-audio
            audio
              width: 100%;
              px2px(font-size, 30px)
        .content-img
          display: -webkit-box;
          display: box;
          a
            display: -webkit-box;
            display: box;
            padding: 0 2px;
            -webkit-box-flex: 1;
            box-flex: 1;
            img
              width: 100%;
        .content-audio
          px2px(font-size, 32px);
          .voice:before
            position: absolute;
            font-family:"iconfont" !important;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          .voice
            display: inline-block;
            margin-left: -20px;
            width: 77px;
            &:before
              width: 30px;
              height: 42px;
              color: #12B7F5;
              px2px(font-size, 32px);
            &.icon-dot1:before
              px2px(left, 20px);
              px2px(top, 22px);
            &.icon-voice:before
              px2px(left, 30px);
              px2px(top, 22px);
          .timer
            color: #B5B5B5;
            px2px(font-size, 28px);

.live-body
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0 100px;
  overflow: auto;
  overflow-x: hidden;
  background: #f2f2f2;
  -webkit-overflow-scrolling: touch;

  .pullMsgs
    padding-top: 100px;
    text-align: center;
    px2px(font-size, 36px);

    span
      color: gray;

.is-pc {
  .live-page {
    width: 908px;
    height: 681px;
  }
  .live-header {
    margin: 20px;
    padding: 15px;
    margin-top: 50px;
  }
  .live-body{
    bottom: initial;
    padding: 10px;
    width: 572px;
    height: 641px;
  }
  .live-sms-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    width: 562px;
    background: #fff;
    font-size: 14px;
    z-index: 7;
  }
  .live-sms-left, .live-sms-right {
    position: absolute;
    top: 0;
    width: 15px;
    height: 100%;
    background: #fff;
    z-index: 7;
  }
  .live-sms-left {
    left: 0;
  }
  .live-sms-right {
    left: 577px;
  }
  .live-sms-list {
    padding-bottom: 100px;
  }
  .live-sms-list li {
    padding: 20px;

    .live-sms{
      padding-left: 60px;
    }
    .user-img{
      width: 50px;
      height: 50px;
    }
    .sms-content{
      padding: 8px;
      &:before{
        width: 10px;
        height: 10px;
        px2px(left, -13px);
      }
      &:after{
        width: 12px;
        height: 12px;
        px2px(left, -11px);
      }
      .content-text{
        padding: 0px 10px 0px 6px;
      }
    }
  }
}

.is-wx {
  .live-body {
    .pullMsgs {
      padding-top: 0;
    }
  }
}

.is-pc {
  .live-body {
    .pullMsgs {
      padding-top: 0;
    }
  }
}
