@import '~@lib/css/index.styl';

em, i {
  font-style: normal
}

ol, ul {
  margin: 0
  padding: 0
}

li
  list-style-type: none

.live-page
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background: #ECEDF1;
  overflow: hidden;

.live-header
    position: relative;
    display: block;
    background: #fff;
    margin: 34px;
    padding: 30px;
    px2px(font-size, 28px);
    border: solid 1px #ededed;
    title
      color: #333;
    li
      list-style-type: decimal;
      margin-left: 45px;
      padding: 17px 15px 0 0;
      color: gray;
      px2px(line-height, 32px);

.live-sms-list
  padding-bottom: 150px;
  li
    position: relative;
    display: block;
    padding: 40px 34px 0 113px;
    .user-img
      position: absolute;
      width: 60px;
      height: 60px;
      overflow: hidden;
      cursor: pointer;
      px2px(top, 40px);
      px2px(left, 34px);
      img
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    .live-sms
      position: relative;
      padding-left: 14px;
      .speaker-name
        color: #aaa;
        padding-bottom: 11px;
        px2px(line-height, 28px);
        px2px(font-size, 28px);
      .sms-content
        position: relative;
        padding: 20px 13px;
        max-width: 80%;
        background: #fff;
        px2px(border-radius, 12px);
        &:before
          position: absolute;
          font-family:"iconfont" !important;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e821";
          color: #fff;
          px2px(top, -5px);
          px2px(left, -14px);
          px2px(font-size, 28px);
        &.w65per
          width: 65%;
        .content-text
          position: relative;
          color: #3C4A55;

          px2px(line-height, 46px);
          px2px(font-size, 32px);
          .content-audio
            audio
              width: 100%;
              px2px(font-size, 30px)
        .content-img
          display: -webkit-box;
          display: box;
          a
            display: -webkit-box;
            display: box;
            padding: 0 2px;
            -webkit-box-flex: 1;
            box-flex: 1;
            img
              width: 100%;
        .content-audio
          px2px(font-size, 32px);
          .voice:before
            position: absolute;
            font-family:"iconfont" !important;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          .voice
            display: inline-block;
            margin-left: -20px;
            width: 77px;
            &:before
              width: 30px;
              height: 42px;
              color: #12B7F5;
              px2px(font-size, 32px);
            &.icon-dot1:before
              px2px(left, 20px);
              px2px(top, 22px);
            &.icon-voice:before
              px2px(left, 30px);
              px2px(top, 22px);
          .timer
            color: #B5B5B5;
            px2px(font-size, 28px);

.live-body
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0 0;
  overflow: auto;
  overflow-x: hidden;
  background: #f2f2f2;
  -webkit-overflow-scrolling: touch;

.is-pc {
  .live-sms-list {
    padding-bottom: 300px;
  }
  .live-sms-list li {
    .live-sms{
      padding-left: 120px;
    }
    .user-img{
      width: 100px;
      height: 100px;
    }
    .sms-content{
      padding: 20px 20px;
    }
  }
}
